<form class="form-cad">
    <mat-form-field class="input">
        <mat-label>Nome Completo</mat-label>
        <input type="text" matInput [formControl]="nameFormControl" matInput [errorStateMatcher]="matcher"
            placeholder="Ex. Rhuan da Silva">
        <mat-error *ngIf="nameFormControl.hasError('minLength') && !nameFormControl.hasError('required')">
            Por favor, insira no mínimo 10 letras
        </mat-error>
        <mat-error *ngIf="nameFormControl.hasError('required')">
            O Nome é <strong>obrigatório</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field  class="input">
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
            placeholder="Ex. pat@exemplo.com">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Por favor, insira um e-mail válido
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
            O Email é <strong>obrigatório</strong>
        </mat-error>
    </mat-form-field>
</form>